.popup {
  padding: 40px 100px 45px;
}
.title {
  color: #e9657e;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}
.image {
  display: block;
  margin: 0 auto;
  pointer-events: none;
}
.buttons {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}
