.wrapper {
  max-width: 830px;
  border-radius: 15px;
  background: rgba(255, 252, 253, 0.3);
  padding: 20px 19px 60px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  margin-bottom: 50px;
}
.error {
  font-size: 51px;
  text-align: center;
  h2 {
    font-weight: 700;
    margin-bottom: 10px;
  }
}
