.item {
  cursor: pointer;
  width: min-content;
  max-width: 257px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
  padding: 12px 26px 40px;
  &:hover {
    opacity: 0.8;
  }
}
.img {
  width: 198px;
  margin: 0 auto 74px;
}
.text {
  position: relative;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.4px;
  &::after {
    content: '';
    position: absolute;
    width: 43px;
    height: 1px;
    background-color: #464646;
    top: -20px;
    left: 40%;
  }
}
